.name-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.good-news-item {
  max-width: 600px;
}
.good-news-content{
	font-family:'Roboto';
}
.image-container {
  width: 150px !important;
  height: 100px !important;
}

.good-news-thumbnail img {
  width: 150px !important;
  height: 100px !important;
}

.first-news-thumbnail {
  position: relative;
}

.first-news-thumbnail img {
  max-height: 400px;
  min-height: 312px !important
}

ul {
  list-style: none;
}

.first-news-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.first-news-content a {
    -webkit-box-orient: vertical;
    max-height: 3em;
    color: #fff;
    font-size: 30px;
    letter-spacing: -.02em;
    font-weight: 700;
    word-break: normal;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box;
    line-height: 1.3em;
    font-family: "Roboto Condensed";
    overflow-wrap: anywhere;
}



.first-news-content a:hover {
  color: #26f7f4;
}

.first-news-date {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

.good-head {
  margin-bottom: 10px;
}

.good-news-item {
  display: flex;
  margin-top: 25px;
}

.good-news-content a {
  font-size: 16px !important;
  font-weight: 700;

  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  word-break: normal;
  color: #2a2a2a;
}

.good-news-content a:hover {
  color: #2acdad;
}

.good-news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* This ensures items are spaced vertically */

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.good-news-date {
  display: block;
  font-size: 11px;
  margin-top: 5px;
}

.good-news-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: auto;
  /* Ensures that the meta info is pushed to the bottom */
}
@media (min-width: 768px) and (max-width: 1024px) {
.first-news-thumbnail img {
    height: 340px;
    width: 323px;
}.good-news-item {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}

	.good-news-item {
    display: flex;
    margin-top: 25px;
	flex-direction:column !important;	
}
	.good-news-thumbnail img {
    width: 100% !important;
    height: 151px !important;
}
	.good-news-thumbnail img {
    width: 100% !important;
    height: 140px !important;
}
	.image-container {
    width: 100% !important;
    height: 143px !important;
}
	.good-news-content{
     padding: 0px;
    margin-top: 18px;
	}
}
