.variant-news-title-con {
    margin-bottom: 15px;
}

.variant-news-title {
    line-height: 32px;
}

.news-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    cursor: pointer;
}

.car-brand-icon {
    color: #ffb400;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 900;

}

.varient-news-image {
    width: 100%;
    height: 180px;
}

.news-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.author-date-con {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.author-date-con .author {
    font-size: 12px;
    color: #8c8c8c;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    margin-top: 9px !important;
}

.car-model-varient-news {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    padding-top: 20px;
    font-family: 'Roboto';
}

.news-card:hover {
    transform: scale(1);
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-content {
    padding: 15px;
}

.news-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto";
}

.news-title :hover {
    color: #262626 !important;
}

.description {
    font-size: 12px;
    font-family: "Roboto";
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    /* margin-top: -15px; */
    margin-bottom: -12px;
}

.news-footer .date {
    font-size: 12px;
    color: #8c8c8c;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    margin-top: 9px !important;
}

.news-footer .read-more {
    font-weight: 700;
    text-decoration: none;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    font-weight: bold;
    color: #576b95;
    font-size: 14px;
    width: fit-content;
    height: fit-content;
    line-height: unset;
}

.news-footer .read-more:hover {
    text-decoration: underline;
}

.btn-more {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: #576b97;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-more-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn-more svg {
    margin-left: 5px;
    color: #576b97;
}