.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  background: #f9f9f9;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.badge-section {
  width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.badge {
  width: 190px;
  height: auto;
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.badge-text {
  margin-top: 120px;
}
.ratings-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 10px;
  width: 100%;
  gap: 50px;
}
.rating-box {
  text-align: center;
  position: relative;
  width: 150px;
  margin: 10px;
}
canvas {
  width: 120px;
  height: 120px;
}
.progress-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.progress-icon {
  width: 42px;
  height: 42px;
}
.score {
  font-size: 20px;
  font-weight: 700;
  font-family: "roboto";
}
.description {
  margin-top: 12px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  color: #262626;
  text-align: center;
  line-height: 20px;
}
.footer {
  font-size: 12px;
  color: #666;
  margin-top: 20px;
}
a {
  box-sizing: border-box;
  line-height: 28px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
  color: #576b95 !important;
  outline: none;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  .badge {
    width: 136px;
    height: 136px;
  }
  .ratings-section {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 15px;
    padding: 5px;
  }
  .rating-box {
    width: 120px;
  }
  .progress-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .ratings-section {
    margin-left: 0px;
  }
  .description {
    font-size: 14px;
  }
  .badge-text {
    margin-top: 75px;
  }
}
